@import "../../scss/Variables.module.scss";
@import '../../scss/breakpoints.scss';
@mixin btnStyles() {
    position: relative;
    display: inline-block;
    font-weight: 500;
    border-radius: 9px;
    border: 1vw solid $hover;
    a {
        color: white;
    }
}

// $margin: 170px;


.hero {
    position: relative;
    display: block;
    // margin-bottom: 10vh;
    // outline: 1px solid yellow;
    .hero2 {
        display: inline-block; // make a row for hero2 and analytics
        .hero3 {
            position: relative;
            display: block;
            // outline: 1px solid red;
            h1 {
                color: $primaryColor;
                font-weight: 600;
                // outline: 1px solid white;
            }
            h2 {
                color: white;
                font-weight: 600;
                // outline: 1px solid white;

            }
            h3 {
                font-weight: 600;
                color: #8B8B8B;
                // outline: 1px solid white;
            }
            .btns {
                .downloadBtn {
                    @include btnStyles();
                    background-color: $primaryColor;
                    border: 4px solid $hover;
                }
                .docBtn {
                    @include btnStyles();
                    background-color: $black1;
                    border: 4px solid $hover;
                }
            }
        }
    }
    .analytics {
        // outline: 1px solid red;
        display: inline-block; // make a row for hero2 and analytics
        position: absolute;
        .mod {
            .modText {
                color: $primaryColor;
            }
            .modCount {
                color: $primaryColor;
            }
        }
        .bp {
            .bpText {
                color: $primaryColor;
            }
            .bpCount {
                color: $primaryColor;
            }
        }
    }
}

@include biggest {
    .hero {
        margin: 0 6.5vw;
        padding-top: 13.5vw; // can't uee margin since it mess up navbar
        margin-right: 0;
        .hero2 {
            // margin-top: 26.5vh; // can't uee margin since it mess up navbar
            // margin-top: 10vw; // can't uee margin since it mess up navbar
            // margin-left: 140px;
            .hero3 {
                position: relative;

                text-align: left;
                h1 {
                    font-size: 60px;
                }
                h2 {
                    font-size: 40px;
                    margin-top: 5px;
                    width: 575px;

                }
                h3 {
                    font-size: 25px;
                    margin-top: 5px;
                    // margin: auto;
                    width: 480px;
                }
                .btns {
                    margin-top: 35px;
    
                    .downloadBtn {
                        margin-right: 30px;
                        font-size: 35px;
                        padding: 10px;
                    }
                    .docBtn {
                        font-size: 35px;
                        padding: 10px;
                    }  
                }
            }
        }
        .analytics { 
            // display: inline-block; // make a row for hero2 and analytics
            // position: absolute;
            // width: fit-content;
            // left: 50vw;
            // top: -200px;
            // margin-left: 2vw;
            // left: 675px;
            margin-left: 7vw;
            bottom: -10%;
                .mod {
                    text-align: center;
                    display: inline-block;
                    font-weight: 600;
                    .svg {
                        font-size: 20vw;
                        line-height: 0%; //removes passing from icon
                    }
                    .modText {
                        font-size: 2.3vw;
                    }
                    .modCount {
                        font-size: 2.3vw;
                    }
                }
                .bp {
                    margin-left: 5vw;
                    display: inline-block;
                    text-align: center;
                    font-weight: 600;
                    
                    .svg2 {
                        font-size: 20vw;
                        line-height: 0%; //removes passing from icon
                    }
                    .bpText {
                        font-size: 2.3vw;
                    }
                    .bpCount {
                        font-size: 2.3vw;
                    }
                }
                // display: none;
            }
    }
}

@media (max-width: 1650px) {
    .hero {
        .analytics {
            .mod {
                text-align: center;
                display: inline-block;
                font-weight: 600;
                .svg {
                    font-size: 300px;
                }
                .modText {
                    font-size: 35px;
                }
                .modCount {
                    font-size: 35px;
                }
            }
            .bp {
                display: none;
            }
        }
    }
}


@media (max-width: 1200px) {
    .hero {
        .analytics { 
            // display: inline-block; // make a row for hero2 and analytics
            // position: absolute;
            // margin-left: 9vw;
            // bottom: -7%;
            margin-left: 6vw;
            bottom: -7%;
            // display: none;
    
            .mod {
                text-align: center;
                display: inline-block;
                font-weight: 600;
                .svg {
                    font-size: 25vw;
                    line-height: 0%; //removes passing from icon
                }
                .modText {
                    font-size: 3vw;
                }
                .modCount {
                    font-size: 3vw;
                }
            }
            .bp {
                display: none;
            }
            // display: none;
        }
    }
}

@media (max-width: 1050px) {
    .hero {
        .analytics { 
            display: none;
        }
    }
}

@include md {
    .hero {
        padding-top: 60px;
        margin: 0;
        .hero2 {
            margin: 0;

            .hero3 {
                position: relative;
                margin: 5vw 8vw;

                text-align: left;
                h1 {
                    font-size: 7.5vw;
                }
                h2 {
                    font-size: 5vw;
                    margin-top: 10px;
                    width: auto;

                }
                h3 {
                    font-size: 3.5vw;
                    margin-top: 5px;
                    // margin: auto;
                    width: 65vw;
                }
                .btns {
                    margin-top: 4vw;
    
                    .downloadBtn {
                        margin-right: 3vw;
                        font-size: 5vw;
                        padding: 1.5vw;
                    }
                    .docBtn {
                        font-size: 5vw;
                        padding: 1.5vw;
                    }  
                }
            }
        }
        .analytics { 
            display: none;
        }
    }
}

@include smallest {
    .hero {
        padding-top: 60px;
        .hero2 {
            margin: 0;

            .hero3 {
                margin: 5vw;
                text-align: center;
                h1 {
                    font-size: 8vw;
                }
                h2 {
                    font-size: 6vw;
                }
                h3 {
                    font-size: 5vw;
                    margin: auto;
                }
                .btns {
                    margin-top: 4vw;
    
                    .downloadBtn {
                        @include btnStyles();
                        margin-right: 3vw;
                        font-size: 5.5vw;
                        padding: 1.5vw;
                    }
                    .docBtn {
                        @include btnStyles();
                        font-size: 5.5vw;
                        padding: 1.5vw;
                    }  
                }
            }
        }
        .analytics { 
            display: none;
        }
    }
}